{% extends "base.html" %}

{% block title %}{{ content }}{% endblock %}

{% block pageTitle %}{{ content }}{% endblock %}

{% block section1title %}{{ content }}{% endblock %}

{% block section1content %}

<div>
    <div  style="width:%100;height:300px">
        <row >

            <span>
                <iframe src="http://localhost:3000/d-solo/RuqQYt1nz/dashboard1?orgId=1&from=1641918112237&to=1642522912237&refresh=30s&panelId=10" width="450" height="200" frameborder="0"></iframe>
            </span>

        </row>
    </div>
</div>



<div clas="container-fluid"  >
    <div class="row" style="width:%100;height:600px">

        <div class="col-xl-6 col-md-4" style="width:%100;height:250px">
            <iframe src="http://localhost:3000/d-solo/RuqQYt1nz/dashboard1?orgId=1&from=1641682277975&to=1642287077975&refresh=30s&panelId=20" width="450" height="200" frameborder="0"></iframe>
            <iframe src="http://localhost:3000/d-solo/RuqQYt1nz/dashboard1?orgId=1&from=1641667769995&to=1642272569995&panelId=8" width="450" height="200" frameborder="0"></iframe>
        </div>

        <div class="col-xl-6 col-md-4" style="width:%100;height:250px">
             <iframe src="http://localhost:3000/d-solo/RuqQYt1nz/dashboard1?orgId=1&from=1641667807969&to=1642272607969&panelId=27" width="450" height="200" frameborder="0"></iframe>
             <iframe src="http://localhost:3000/d-solo/RuqQYt1nz/dashboard1?orgId=1&from=1641667830532&to=1642272630532&panelId=28" width="450" height="200" frameborder="0"></iframe>
        </div>

    </div>
</div>




{% endblock %}