{% extends "base.html" %}

{% block title %}{{ content }}{% endblock %}

{% block pageTitle %}{{ content }}{% endblock %}

{% block section1title %}{{ content }}{% endblock %}

{% block section1content %}

<div style="border: 3px solid yellowgreen; padding: 10px;">
    <span>
        Temperatures in relation with the sun hitting on the windows.
    </span>
    <div style="width:100%;height:500px;">

        <span>
            <iframe
                src="http://localhost:3000/d-solo/RuqQYt1nz/dashboard1?orgId=1&from=1647807489948&to=1648408689948&panelId=10"
                width="450" height="200" frameborder="0"></iframe>
        </span>

    </div>



    <div class="container" style="float: left;">
        <div class="row" style="width:125%;height:600px; border: 3px solid red; padding: 10px; margin:30px 0 0 0">
            <span style="margin: 0 auto; display: table; font-style:oblique;font-weight: bold; font-size: larger;">
                Temperatures
            </span>
            <div class="col" style="width:auto;padding: 20px;">
                <span style="margin: 0 auto; display: table; font-style:oblique;">
                    Temperatures at Pole Leonard-de-Vinci
                </span>

                <div class="row" style="width:100%;">

                    <div class="col" style="width:100%;height:250px">
                        <iframe
                            src="http://localhost:3000/d-solo/RuqQYt1nz/dashboard1?orgId=1&from=1647807509442&to=1648408709442&panelId=21"
                            width="450" height="200" frameborder="0"></iframe>
                        <iframe
                            src="http://localhost:3000/d-solo/RuqQYt1nz/dashboard1?orgId=1&from=1647807529835&to=1648408729835&panelId=20"
                            width="450" height="200" frameborder="0"></iframe>
                    </div>
                    <div class="col-md-auto" style="width:200px;height:250px">
                        <iframe
                            src="http://localhost:3000/d-solo/RuqQYt1nz/dashboard1?orgId=1&from=1648247484419&to=1648416684419&panelId=19"
                            width="200px" height="200" frameborder="0"></iframe>
                        <iframe
                            src="http://localhost:3000/d-solo/RuqQYt1nz/dashboard1?orgId=1&from=1648247533357&to=1648416733357&panelId=18"
                            width="200px" height="200" frameborder="0"></iframe>
                    </div>
                </div>
            </div>

            <div class="col" style="width:auto;padding: 20px;">
                <span style="margin: 0 auto; display: table; font-style:oblique;">
                    Temperatures in the room L405
                </span>

                <div class="row" style="width:100%;">

                    <div class="col" style="width:100%;height:250px">
                        <iframe
                            src="http://localhost:3000/d-solo/RuqQYt1nz/dashboard1?orgId=1&from=1647818360312&to=1648419560312&panelId=37"
                            width="450" height="200" frameborder="0"></iframe>
                        <iframe
                            src="http://localhost:3000/d-solo/RuqQYt1nz/dashboard1?orgId=1&from=1647818377089&to=1648419577089&panelId=36"
                            width="450" height="200" frameborder="0"></iframe>
                    </div>
                    <div class="col-md-auto" style="width:200px;height:250px">
                        <iframe
                            src="http://localhost:3000/d-solo/RuqQYt1nz/dashboard1?orgId=1&from=1647818386883&to=1648419586883&panelId=39"
                            width="450" height="200" frameborder="0"></iframe>
                        <iframe
                            src="http://localhost:3000/d-solo/RuqQYt1nz/dashboard1?orgId=1&from=1647818400213&to=1648419600213&panelId=38"
                            width="450" height="200" frameborder="0"></iframe>
                    </div>
                </div>
            </div>


        </div>

        <div class="row" style="width:125%; height: 600px; border: 3px solid red; padding: 10px; margin:30px 0 0 0">
            <span style="margin: 0 auto; display: table; font-style:oblique;font-weight: bold; font-size: larger;">
                Doors Status
            </span>

            <div class="col" style="width:100%;">
                <span style="margin: 0 auto; display: table; font-style:oblique;">
                    History of the doors opening
                </span>
                <div class="row" style="width:100%;">
                    <iframe
                        src="http://localhost:3000/d-solo/RuqQYt1nz/dashboard1?orgId=1&from=1647819246694&to=1648420446694&panelId=30"
                        width="450" height="250px" style="height: 250px;width: 1200px;" frameborder="0"></iframe>
                    <iframe
                        src="http://localhost:3000/d-solo/RuqQYt1nz/dashboard1?orgId=1&from=1647819584686&to=1648420784686&panelId=31"
                        width="450" height="250px" style="height: 250px;width: 1200px;" frameborder="0"></iframe>
                </div>
            </div>
            <div class="col" style="width:100%;height:250px">
                <span style="margin: 0 auto; display: table; font-style:oblique;">
                    Doors current status
                </span>
                <div class="row" style="width:100%;">
                    <iframe
                        src="http://localhost:3000/d-solo/RuqQYt1nz/dashboard1?orgId=1&from=1641667807969&to=1642272607969&panelId=27"
                        width="450px" height="200px" style="height: 250px;width: 600px;" frameborder="0"></iframe>
                    <iframe
                        src="http://localhost:3000/d-solo/RuqQYt1nz/dashboard1?orgId=1&from=1641667830532&to=1642272630532&panelId=28"
                        width="450" height="200" style="height: 250px;width: 600px;" frameborder="0"></iframe>
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock %}