{% extends "base.html" %}

{% block title %}Heat Map{% endblock %}

{% block pageTitle %}Heat Map{% endblock %}

{% block section1title %}<h2>Realtime Heat Maps of room L405 </h2>{% endblock %}

{% block section1content %}
<form method="POST" action="{{ url_for('heatmap') }}">

    <div style="position: absolute;right: 100px;">
        <span style="font-size: larger;font-weight: bold;">Date for heatmap :</span>
        <div>

            <input type="datetime-local" name="time" value={{time_chose}} min="2022-01-01T00:00">
            <button type="submit">REFRESH</button>
        </div>
    </div>
    <div style="position: absolute;right: 100px; margin-top: 60px;">
        <span style="font-size: larger;font-weight: bold;">Thresholds :</span>
        <div>
            <input type="checkbox" name="cb_automatic_threshold" id="cb_automatic_threshold" {% if automatic %} checked
                {% endif %}>
            <label>Automatic</label>
        </div>
        <div class="temp_threshold" style="margin-left: 10px;">
            <div>
                <label>Max Temp (red)</label>

                <input type="number" id="max_temp_threshold" name="max_temp_threshold" min="10" max="50"
                    value="{{max_threshold}}" class="temp_threshold" disabled>
            </div>
            <div>
                <label>Min Temp (blue)</label>

                <input type="number" id="min_temp_threshold" name="min_temp_threshold" min="10" max="50"
                    value="{{min_threshold}}" class="temp_threshold" disabled>
            </div>
        </div>
    </div>

</form>
<div>
    <div clas="container-fluid">
        <div class="row" style="width:%100;height:600px">
            <div class="col-xl-6 col-md-4" style="width:%100;height:480px;">
                <img src="../static/assets/img/3dHeatmap.png" width="800" height="600" frameborder="0"
                    style="display:block;margin-left:auto;margin-right:auto;width:%100"></img>
            </div>
            <div class="col-xl-6 col-md-4" style="width:%100;height:480px;float:right;">
                <img src="../static/assets/img/2dHeatmap.png" width="800" height="600" frameborder="0"
                    style="display:block;margin-left:auto;margin-right:auto;width:%100"></img>
            </div>
        </div>


        <div class="row" style="width:%100;height:200px">
            <div style="padding:4rem 0rem 4rem 2rem; font-size:2rem;font-weight:bold">
                <div class="row" style="height:50px">
                    <span style="display: inline;">Lowest temperature measured : <span
                            style="color:blue">{{t_min}}</span></span>
                </div>
                <div class="row" style="height:50px">
                    <span style="display: inline;">Highest temperature measured : <span
                            style="color:red">{{t_max}}</span></span>
                </div>
                <div class="row" style="height:50px">
                    <span style="display: inline;">Temperature gap : <span style="color:green">{{gap}}</span></span>
                </div>
            </div>
        </div>



        <script type="text/javascript">
            $('.temp_threshold').attr('disabled', $('#cb_automatic_threshold').is(':checked'));
            $('#cb_automatic_threshold').change(function () {
                $('.temp_threshold').attr('disabled', $(this).is(':checked'));
            });
        </script>

        {% endblock %}

        {% block js %}

        {% endblock %}